build
twine
ipykernel
pyright
python-dotenv
pytest
pytest-asyncio
-e packages/sdk/pkg
-e packages/impl/binance/pkg
-e packages/impl/bitget/pkg
-e packages/impl/mexc/pkg
-e packages/impl/ethereum/pkg
-e packages/impl/dydx/pkg
-e packages/impl/hyperliquid/pkg
-e packages/impl/bit2me/pkg
