build
twine
ipykernel
pyright
python-dotenv
pytest
pytest-asyncio
-e packages/sdk
-e packages/impl/binance
-e packages/impl/bitget
-e packages/impl/mexc
-e packages/impl/ethereum
-e packages/impl/dydx
-e packages/impl/hyperliquid
-e packages/impl/bit2me
